/* 

    .flex-container {
        border: 10px solid red;
        padding: 20px;
        flex-direction: column;
     }
     
     .flex-container .cont {
         background-color: blue;
         width: 80%;
         margin: 10px auto;
     }
      */